<html>
  <head>
    <title>FlaskでWebSocket学習</title>
  </head>
  <body>
    <button type="button" onclick="ping();"> Ping </button>
    <div id="log"></div>
  </body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    function ping(){
        t = new Date();
        socket.emit('ping', {data: t.getTime()});  // サーバにpingイベントを投げつける
        document.getElementById("log").innerHTML += ('ping: ' + t.getTime() + "<br>");
    }
    socket.on('connect', function() { // 初期化時に呼ばれるコールバック
        console.log(socket)
        socket.emit('ping', {data: socket.id});
        socket.on('pong', (msg) => { // pongが帰ってきたら呼ばれるコールバック
            t = new Date();
            document.getElementById("log").innerHTML += ('pong: ' + t.getTime() + "<br>");
        });
        //ping();
    });
</script>